
@use './abstracts/colours' as *;

.container {
	background-color: $background;
	color: $primary;
	padding: 0.75rem;

	h1 {
		text-align: center;
		margin: 0;
	}

	@media (min-width: 450px) {
		max-width: 420px;
		border-radius: 0.5rem;
		margin: 1rem auto;
		padding: 1rem;
	}
}